{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":4},"end":{"row":2,"column":0},"action":"insert","lines":["","node_modules",""],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":4},"end":{"row":0,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1623973183437,"hash":"af68a27514c14ed1fdb347501b14257b7353713f"}