body {
    background-color: #e7f5e5;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px 10px;
}

.item {
    padding: 4px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.circle {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.rounded {
  border-radius: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: none;
}