<html>
<head>

</head>    

<body>
    <div> 
        {% if ids != None %}
				{% for ms in chat %}
				    <form action = "/view_chat" method = "POST">
		                <div class="gallery-item" tabindex="0">
		                	<h2>{{ids[loop.index0]}}</h2>
							<form action = "/create_post" method = "POST">
								<input type="text" name="message" class="form-control input_pass" value="" placeholder="Type here!">
								<button button name="button" type = "submit" value = "Send" class="btn profile-edit-btn">Send Message</button>
							</form>
						</div>
					</form>
					<br>
					<br>
	               {% endfor %}
        {% endif %}
    </div> 
    
    
        

</body>

<script>
    while (true) {
        document.body.innerHTML = 
    }
    
</script>

</html>